.navbar-brand{
    padding-left: 200px;
    color: rgb(156, 196, 196) !important;
  } 
  .navbar-nav{
    margin-left: auto;
    padding-right: 200px;
  }
  .banner{
    background-image: url("images/water-gf96870050_1920.jpg");
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
  }
  #image-change{
    width: 20%;
  }
  #edit h1,p{
    color:rgba(16, 15, 15, 0.811);
  }
  #edit{
    margin-top: 50px; 
    margin-left: 20px; 
  }
  button{
    border-radius: 50px !important;
  }

  #down{
    margin-top: 40px;
  }
  td{
    padding-left: 60px;
    padding-bottom: 5px;
  }
  .change{
    margin: 0%;
    width: 100%;
    height: 8px;
    background-color: rgb(242, 228, 228);
  }

  .html-line{
    width: 80%;
    height: 8px;
    background-color: red;
    border-radius: 10px  0 0 10px;
  }
 
  .css-line{
    width: 70%;
    height: 8px;
    background-color: red;
    border-radius: 10px  0 0 10px;
  }
  
  .javascript-line{
    width: 50%;
    height: 8px;
    background-color: red;
    border-radius: 10px  0 0 10px;
  }

  .python-line{
    width: 80%;
    height: 8px;
    background-color: rgba(41, 41, 142, 0.468);
    border-radius: 10px  0 0 10px;
  }
  .c-line{
    width: 50%;
    height: 8px;
    background-color: rgba(41, 41, 142, 0.468);
    border-radius: 10px  0 0 10px;
  }
  .java-line{
    width: 50%;
    height: 8px;
    background-color: rgba(41, 41, 142, 0.468);
    border-radius: 10px  0 0 10px;
  }