<html>
    <head>
        <title>SignIn</title>
        <link rel="stylesheet" href="{{url_for('static',filename='/css/signin.css')}}">
    </head>
    <body>
        <form action="/">
            <h1>Sign In</h1>
            <label>Email :</lable>
            <input type="email" name="email"><br>
            <label>Password:</lable>
            <input type="password" name="password"><br>
            <input type="Submit" value="Submit" id="submit">
        </form>
    </body>
</html>