<html>
    <head>
        <title>Signup Page</title>        
        <link rel="stylesheet" href="{{url_for('static',filename='/css/signup.css')}}">
    </head>
    <body>
        <form action="/">
            <h1>Sign Up</h1>
            <lable>First Name</label>
            <input type="text" name="firstname"><br>


            <lable>Last Name</label>
            <input type="text" name="lastname"><br>
            
            <lable>Email id</lable>
            <input type="text" name="email"><br>

            <lable>Password:</lables>
            <input type="text" name="password">
            <input type="submit"value="Submit" id="submit">
        </form>
    </body>
</html>