{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
    <style>
        body{
            background-color: antiquewhite;
        }
        form{
            margin: 10% auto;
            width: 40%;
            text-align: center;
            background-color:wheat;
            padding-top: 20px;
            border-radius: 5px;

        }
        input{
            text-align: center;
        }
        input:focus::placeholder {
            color: transparent;
        }
    </style>
{% endblock %}

{% block body %} 
<div class="container-fluid">
    <form>
        <h1>Login as Jobseeker</h1>
        <div class="form-group">
            <div class="form-group pl-5 pr-5">
                <label>Email</label>
                <input type="email" name="email" placeholder="Your Mail Id"  class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="form-group  pl-5 pr-5">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password"  class="form-control">
            </div>
        </div>
        <div class="form-group ">
            <div class="form-group">
                <p>Login as a Jobseeker <a href="/ls">Jobseeker</a></p>
                <input type="submit" value="Submit" class="btn bg-primary w-50 mb-5">
            </div>
        </div>
    </form>
</div>


{% endblock %}


