{% extends "basic.html" %}

{% block head %}
<title>sign in</title>
<style>
    form{
    width: 50%;
    margin: 15% auto auto auto;
    text-align: center;
}
.form-control{
    text-align: center;
}

</style>
{% endblock%}

{% block body %}
<form action="/signin" method="POST"  autocomplete="off">
          
          <div class="form-group">
              <label for="">Email</label>
              <input type="email" name="email" class="form-control" id="">
          </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group">

            <input type="checkbox" onclick="showPassword()"  name="" id=""> <label for="">Show password</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-outline-primary btn-dark">

        </div>
      </form>
      <script>
        function showPassword(){
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
      </script>
{% endblock%}