{% extends "basic.html" %}

{% block head %}
<title>sign in</title>
<link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
{% endblock%}

{% block body %}
    <form action="/signup" name="myform" method="POST" autocomplete="off" onsubmit=" return check()">
        {% if message != ""%}
            <span id="error">{{message}}</span>
        {% endif %}
        <h1 class="pb-5">Sign Up</h1>
        <div class="form-group">
            <label for="">Userame</label>
            <input type="text" name="Userame" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="">Re-Type Password</label>
            <input type="password" name="repassword" class="form-control" id="repassword">
        </div>
        <div class="form-group">
            <input type="checkbox" onclick="showPassword()"  name="" id=""> <label for="">Show password</label>
            <span id="error" class="bg-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-outline-primary btn-dark">

        </div>
      </form>

      <script>
        function showPassword(){
            var password = document.getElementById("password");
            var re_password = document.getElementById("repassword");
            if (password.type === "password" && re_password.type === "password") {
                password.type = "text";
                re_password.type = "text";
            } else {
                password.type = "password";
                re_password.type = "password";
            }
        }

        function check(){
            var password = document.getElementById("password").value;
            var re_password = document.getElementById("repassword").value;
            if (password != re_password){
                document.getElementById("error").innerHTML = "<br>" + "Type the same password"
                return false
            }
            else if (password.length < 10){
                document.getElementById("error").innerHTML = "<br>" + "Your password is weak"
                return false
            }
            
        }
        
      </script>
{% endblock%}