form{
    margin: 150px auto;
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: gray;
    border-radius: 30px;
}
input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
label{
    width: 100%;

}
#submit{
    width: 50%;
    font-weight: bolder;
    border-radius: 30px;
    background-color: rgb(11, 130, 163);
}

#submit:hover{
    background-color: yellow;
}
body{
    background-image: url("/static/image/image.jpg");
    background-size: cover;
}